* {
    margin: 0px;
    padding: 0px;
}

html {
    background: #2F3136;
}

body {
    padding: 10px;
    text-align:center;
    color:#ff8300;
}

p {
    width:80%;
    margin: auto;
}

input {
    text-align:center;
    width: 240px;
    height: 25px;
    font-size:24px;
    border: solid 2px black;
    background: #484C52;
}

.prompt {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width:200px;
}

body::-webkit-scrollbar {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff8300;
}

h1 {
    margin: 10px;
}

.butt {
    margin: 0px;
    width:60px;
    height: 60px;
    font-size: 90px;
    line-height: 0px;
}

.boolean{
    margin:5px;
    width:90px;
    height:35px;
    font-size: 30px;
    background-color: #484C52;
}

#questions li {
    font-size:24px;
    margin: 0px 0px 12px 0px;
    font-family: "Verdana", sans;
}

#14 {
    font-size:7px;
}

hr.minor {
    margin: 5px auto 15px auto;
    border: 2px solid #000000;
    width: 75%;
    border-radius: 5px;
}

hr.major {
    margin: 5px auto 15px auto;
    border: 3px solid #000000;
    width: 100%;
    border-radius: 5px;
}