* {
    margin: 0px;
    padding: 0px;
}

html {
    background: #2F3136;
}

body {
    text-align:center;
    color:#CCDADE;
}

p {
    width:80%;
    margin: auto;
}

input {
    text-align:center;
    border: solid 2px black;
    background: #484C52;
}

.prompt {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width:200px;
}

body::-webkit-scrollbar {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff8300;
}

h1 {
    margin: 10px;
}

.butt {
    margin: 0px;
    width:80px;
    height: 80px;
    font-size: 110px;
    line-height: 0px;
}